.title {
    padding-top: 20px;
}
/*宫格布局*/
.ui_grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.ui_row {
  overflow: hidden;
  /*display: table-row;*/
}

.ui_grid [class^="ui_col"] {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 20px 10px;
  text-align: center;
  box-sizing: border-box;
  float: left;
}


.grid_icon[size="lg"] {
  width: 70px;
  height: 70px
}

.grid_icon[size="md"] {
  width: 40px;
  height: 40px
}

.ui_grid_border {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.ui_grid_border [class^="ui_col"] {
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.ui_grid [class^="ui_col"] p {
  padding-top: 5px
}

.ui_col_6,
.ui_col_4,
.ui_col_3 {width: 100%}
 @media screen and (min-width:720px){
  .ui_col_6 {
    width: 50%
  }
  .ui_col_4 {
    width: 33.333333%
  }
  .ui_col_3 {
    width: 25%
  }
}
.cover {background: transparent !important}
html body .ui_btn {display: inline-block;padding: 10px 30px;text-align: center;font-size: 16px;border-radius: 30px;background-clip: padding-box;
    color: #fff;background-color: #267EF0;border:1px solid #267EF0;
}
.transition {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}
.transition:hover {
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
.btns {text-align: center;
  padding-bottom: 40px;
}
html body .ui_btn[plain] {margin-right: 30px;
  border-color: #267EF0;color: #267EF0;background-color: #fff;
}
.markdown-section {max-width: unset;}

.container-demo-main {display:flex;}
.container-demo-left {width: 60%;}
.container-demo-right {
  zoom: 0.85;
  margin-left:24px;
  padding: 48px 30px 20px 30px;
  background:url(../img/iphoneX.png) no-repeat;
  background-size: 100% auto;
}
.container-demo-right iframe {
  border:none;
  border-radius: 5px;
}