@charset "utf-8";
html,body{width:100%;height:100%;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;overflow: hidden;}	
body {-webkit-overflow-scrolling:touch;font:15px/1.4 PingHei,Verdana, Microsoft YaHei, Helvetica, Arial, Hiragino Sans GB, sans-serif, Simsun;
    background-color: #f8f8f8;word-wrap: break-word;word-break: break-all;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,hr{margin:0;padding:0; }
table{border-collapse:collapse; border-spacing:0;}
fieldset,img,input,button,abbr{border:0 none;}
caption,th,cite,em,strong,var,b,i,code,dfn,address{font-style:normal;}
caption,th,em,strong,b {font-weight:normal;}
ol,ul,li{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,optgroup,option,select,button{vertical-align: middle;font:inherit;}	/*文本域默认是不会继承其他字体的样式的，所以设置继承上级字体样式*/
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"],
button,
select {appearance:none;-webkit-appearance:none;-moz-appearance:none;border: none;outline: none;}
textarea {resize:none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:textfield}
button,input[type="submit"],input[type="button"] {cursor:pointer;}
a, a:active, :focus {outline:none}
a {text-decoration:none;color:#333;}
a:hover{text-decoration:none;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;margin:0;padding: 0}	/* 设置HTML5元素为块 */
img,embed,video,object,iframe,input {max-width:100%;vertical-align:middle;}	
code, kbd, pre, samp { font-family: monospace;}
pre{
    word-break: break-all;
    word-wrap: break-word;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*=======文字 start======*/
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}
/*=======文字 end======*/

/*=======边距 start======*/
.ma{margin-left:auto; margin-right:auto;}
.m5 {margin: 5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}

.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}

.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}

.pl0 {padding-left: 0 !important;}
.pr0 {padding-right: 0 !important;}
.p10-p20 {
    padding: 10px 20px;
}
.p20-p10 {padding: 20px 10px}
.ml-10 {margin-left: -10px}
/*=======边距 end======*/

/*主题颜色*/
:root {
  --primary_color:#467DB9; /*主题*/
  --success_color:#28ca35; /*成功*/
  --warning_color:#ff870d; /*警示*/
  --danger_color:#E51C23; /*危险*/
}
.c999 {color: #999}
.c888 {color: #888}
.c666 {color: #666}
.c333 {color: #333}
.primary_color {color: var(--primary_color)}
.danger_color {color: var(--danger_color)}
.warning_color {color: var(--warning_color)}
.success_color {color: var(--success_color)}
.c_white {color: #fff}  
.placeholderColor {color: #757575} /*预输入文本颜色*/

/*背景色*/
.bg_primary {background-color: var(--primary_color)}
.bg_transparent {background-color:transparent}
.bg_white {background-color: #fff}

/*布局辅助样式*/
/*flex 布局*/
.ui_flex {
    display: flex;
}
.ui_flex_item {
    flex: 1;
}
.ui_flex_center {display: flex;align-items: center;}
.ui_flex_end {justify-content: flex-end;align-items: flex-end;}
.ui_flex_wrap {flex-wrap:wrap;}
.ui_self_center {align-self: center;}

.ti2{text-indent:2em;}/*移动设备下，text-indent在input框的支持性不好，建议使用padding-left缩进*/
.ti3{text-indent:3em;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.rtl {direction: rtl}
.pr {position: relative;}
.pa {position: absolute;}
.vt {vertical-align: top;}
.db {display: block;}
.ib {display: inline-block;vertical-align: middle;}
.fl {float: left;display: inline;}
.fr {float: right;display: inline;}
.nowrap {white-space: nowrap;}
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.ellipsis_line2 {display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
i[class*="_ico"] {display: inline-block;vertical-align: middle;}

/* 圆角 */
.radius100p {border-radius: 100%;background-clip: padding-box}
.radius20 {border-radius: 20px;background-clip: padding-box}
.radius15 {border-radius: 15px;background-clip: padding-box}
.radius10 {border-radius: 10px;background-clip: padding-box}
.radius5 {border-radius: 5px;background-clip: padding-box}
.radius3 {border-radius: 3px;background-clip: padding-box}

/*滚动条美化*/
.nice_scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.nice_scroll::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

/*1像素边框*/
.ui_1px,
.ui_top_1px,
.ui_right_1px,
.ui_bottom_1px,
.ui_left_1px {position: relative;}
.ui_1px:before {border: 1px solid #ccc;content: '';
    position: absolute;left:0;top:0;width: 200%;height: 200%;
    transform:scale(.5,.5);transform-origin: left top;
}
.ui_top_1px:before,
.ui_bottom_1px:before {
    position: absolute;content: '';left: 0;right: 0;
    border-bottom: 1px solid #ccc;transform: scaleY(.5);
}
.ui_top_1px:before {top: 0;}
.ui_bottom_1px:before {bottom: 0}
.ui_left_1px:before,
.ui_right_1px:before {
    position: absolute;content: '';top: 0;bottom: 0;
    border-left: 1px solid #ccc;transform: scaleX(.5);
}
.ui_left_1px:before {left: 0;}
.ui_right_1px:before {right: 0}

/*箭头*/
.ui_triangle_up,
.ui_triangle_down,
.ui_arrow_up,
.ui_arrow_down,
.ui_arrow_left,
.ui_arrow_right {position: relative;display: inline-block;vertical-align: middle;}
.ui_triangle_up,
.ui_triangle_down {
  width:16px;height:16px;
}
.ui_arrow_up,
.ui_arrow_down,
.ui_arrow_left,
.ui_arrow_right {width:20px;height:20px;}
.ui_triangle_up:after,
.ui_triangle_down:after {
    position: absolute;
    top:0;
    right:0;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid;
}
.ui_triangle_up:after  {
    top:-4px;
    border-color: transparent transparent #bfbfbf transparent;
}
.ui_triangle_down:after {
    border-color: #bfbfbf transparent transparent transparent;
}
.ui_arrow_up:after,
.ui_arrow_down:after,
.ui_arrow_left:after,
.ui_arrow_right:after {position: absolute;
    content: '';
    width: 10px;
    height:10px;
    border: 1px solid;
    border-color: transparent #999 #999 transparent;transition: all 0.2s;
}
.ui_arrow_up:after {  
    top:4px;right:4px;
    transform: rotate(225deg);
}
.ui_arrow_down:after {
    top:0;right:4px;
    transform: rotate(45deg);
}
.ui_arrow_left:after {
    top:2px;left:8px;
    transform: rotate(135deg);
} 
.ui_arrow_right:after {
    top:2px;right:8px;
    transform: rotate(315deg);
} 

/*文字区块*/
.ui_con_block {padding: 20px 10px;background-color:#fffbe8;color: var(--warning_color);}